* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: "Oswald", sans-serif; }

body {
  background: #000000;
  font: "Oswald", sans-serif; }

main .container .row {
  padding: 10px;
  margin: 15px; }
  main .container .row h1 {
    font-family: "Oswald", sans-serif;
    padding: 10px;
    margin: 10px; }

section h2, section h2 p, div h2 section p {
  font-family: "Oswald", sans-serif;
  padding: 5px;
  margin: 5px; }

div h2, section h2 div p, div h2 p {
  font-family: "Oswald", sans-serif;
  padding: 10px;
  margin: 10px; }

.nav-item:hover {
  transform: scale(1.1); }

.dropdown-item:hover {
  transform: scale(1); }

.navbar-brand img {
  grid-column: 3 / 4;
  animation-name: expandir;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-delay: .5s;
  animation-timing-function: ease; }

@keyframes expandir {
  0% {
    transform: scale(0.5); }
  50% {
    transform: scale(1.2); }
  100% {
    transform: scale(1.5); } }

footer {
  background-color: #24262b;
  padding: 60px, 0;
  margin: 10px; }
  footer .content-info h3 {
    font-size: 1.2em;
    padding: 0;
    width: 300px;
    margin: 10px auto;
    text-decoration: underline  red;
    text-decoration-thickness: 3px;
    text-underline-offset: 2px;
    text-align: justify !important; }
  footer .content-info .social-links {
    background-color: #F0F8FF;
    display: flex;
    flex-direction: row;
    justify-content: start;
    transition: all 400ms ease;
    padding: 4px;
    border-radius: 12px; }
    footer .content-info .social-links a {
      padding: 5px; }
  footer ul {
    text-align: justify;
    width: 300px;
    margin: 0 auto;
    padding: 0; }
    footer ul a {
      text-decoration: none;
      font-size: 15px;
      padding: 8px;
      color: #808080;
      transition: all 0.3s ease; }
      footer ul a:hover {
        color: #ffffff;
        padding-left: 10px; }
