


* {

     margin: 0;

     padding: 0;

     box-sizing: border-box;

     font: $font-family;

}





body {




	position: relative;
    height: 100%;

    background: $background;

	font: $font-family;


   
}
