

@mixin text {

   text-decoration: underline  red;   

   text-decoration-thickness: 1.3px;

   text-underline-offset: none;

   text-align: justify;    
}





footer{

        width: 100%;
        background-color: #2A3132;

        div{
            .social-links{

                a {

                    i{

                display: inline-block;
                text-decoration: none;
                width: 45px;
                height: 45px;
                line-height: 45px;
                color: #fff;
                margin-right: 10px;
                background-color: #0d2033;
                text-align: center;
                transition: all 300ms ease;

                &:hover{
                    color: #00ffff;
                }
                }
            }
        }
    }
        
        ul{

            li{

                @include text;         
            }
        }    
}




    
     

    
 



    

