

@mixin text {

   text-decoration: underline  red;   

   text-decoration-thickness: 3px;

   text-underline-offset: 2px;

   text-align: justify !important;    
}


@mixin media-up ($breakpoint) {
    @media screen and (min-width: map-get ($breakpoints, $breakpoint)) {
      @content;  
    }
}



footer{

		background-color:$color-dark-blue;

		padding: 60px, 0;

                margin: 10px;

        .content-info {


        	h3{

        		font-size: 1.2em;

        		padding: 0;

        	 	width: 300px;

        	 	margin:10px auto;

                        @include text;


        	}


        	.social-links{
                background-color: $azul-palido;

        		display: flex;

        		flex-direction: row;

        		justify-content:start;

                transition: all 400ms ease;

                padding: 4px;

                border-radius: 12px;


        		a{

        			
        			padding: 5px;
        		}

        	}

        }

    

        ul {

        	 text-align: justify;

        	 width: 300px;

        	 margin:0 auto;

        	 padding: 0;



        	a {
                 
        		text-decoration: none;

        		font-size: 15px;

        		padding: 8px;

        		color: 	#808080;

        		transition: all 0.3s ease;


        		&:hover {

        			color: #ffffff;

        			padding-left: 10px;




        		}


        	}
        }



		}



